* {
  margin: 0px;
  padding: 0px;
}
header {
  width: 100%;
  height: 105px;
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(38, 38, 38);
  > div.menu {
    width: 56%;
    height: 42px;
    margin-top: 3%;
    margin-right: 30%;
    display: flex;
    flex-flow: row wrap;
    background-color: aqua;
    > nav {
      width: 100%;
      height: inherit;
      background-color: blueviolet;
      > ul {
        width: 90%;
        height: inherit;
        background-color: aliceblue;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        justify-content: center;
        > li {
          width: auto;
          height: inherit;
          > a {
            display: block;
            width: auto;
            padding: 0 14px;
            line-height: 42px;
            text-decoration: none;
            font-size: large;
            transition: 500ms;
            color: grey;
            &:hover {
              color: whitesmoke;
              transition: 100ms;
            }
          }
          div.dropdown-menu {
            width: 10%;
            height: 0;
            position: absolute;
            transition: 500ms;
            display: flex;
            flex-flow: column wrap;
            background-color: aqua;
          }
          &:hover > div.dropdown-menu {
            height: 70px;
            transition: 500ms;
          }
        }
      }
    }
  }
}
main {
  width: 100%;
  background-color: whitesmoke;
  height: max-content;
  > div.golestan-tea-box {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(222, 222, 222);
    > div.writing {
      width: 27.5%;
      height: 275px;
      margin-top: 7%;
      margin-right: 17%;
      > div.title {
        width: max-content;
        height: max-content;
        font-size: 40px;
        margin-bottom: 3%;
        color: red;
      }
      > div.additional {
        width: max-content;
        height: max-content;
        margin-right: 5%;
        margin-bottom: 7%;
        color: rgb(187, 138, 91);
        font-size: 20px;
      }
      > div.about-draw {
        width: 100%;
        height: 73px;
        color: rgb(129, 129, 129);
        font-size: large;
      }
      > div.more-info {
        width: 35%;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        margin-right: 1%;
        background-color: whitesmoke;
        border-radius: 10%;
        transition: 200ms;
        > a {
          text-decoration: none;
          color: grey;
          &:hover {
            color: whitesmoke;
          }
        }
        &:hover {
          background-color: crimson;
          transition: 200ms;
        }
      }
    }
    > div.tea-pic {
      margin-top: 1%;
      margin-right: 200px;
    }
  }
  > div.about-golestan {
    width: 100%;
    height: 1180px;
    margin-top: 1%;
    border-top: 1px solid rgba(0, 0, 0, 0.496);
    border-bottom: 1px solid rgba(0, 0, 0, 0.496);
    display: flex;
    flex-flow: column wrap;
    > div.introduction-title {
      width: max-content;
      height: max-content;
      font-size: x-large;
      margin-top: 80px;
      margin-right: 300px;
      color: red;
    }
    > div.golestan-info {
      width: 52%;
      height: 162px;
      margin-top: 3%;
      margin-right: 22%;
      > p {
        line-height: 30px;
        font-size: larger;
        color: grey;
      }
    }
    > div.second-golestan-info {
      width: 52%;
      height: 83px;
      margin-top: 2%;
      margin-right: 22%;
      > p {
        line-height: 30px;
        font-size: larger;
        color: grey;
      }
    }
    > div.products-title {
      width: max-content;
      height: max-content;
      margin-top: 6%;
      margin-right: 22%;
      font-size: x-large;
      color: red;
    }
    > div.additional {
      width: 52%;
      height: 87px;
      margin-top: 3%;
      margin-right: 22%;
      > p {
        font-size: larger;
        color: grey;
        line-height: 30px;
      }
    }
    > div.numerical-information {
      width: 75%;
      height: 240px;
      margin-top: 9%;
      padding-right: 20%;
      display: flex;
      flex-flow: row wrap;
      > div.right {
        width: max-content;
        height: 240px;
        margin-left: 2%;
        > div.top {
          width: 100%;
          height: 185px;
        }
        > div.bot {
          width: 100%;
          height: 55px;
          display: flex;
          font-size: large;
          border-bottom: 1px solid rgba(0, 0, 0, 0.531);
          > p {
            width: max-content;
            height: max-content;
            margin-top: 11%;
            margin-right: 28%;
            color: grey;
          }
        }
      }
      > div.mid-r {
        width: max-content;
        height: 240px;
        margin-left: 2%;
        > div.top {
          width: 100%;
          height: 185px;
        }
        > div.bot {
          width: 100%;
          height: 55px;
          display: flex;
          font-size: large;
          border-bottom: 1px solid rgba(0, 0, 0, 0.531);
          > p {
            width: max-content;
            height: max-content;
            margin-top: 11%;
            margin-right: 28%;
            color: grey;
          }
        }
      }
      > div.mid-l {
        width: max-content;
        height: 240px;
        margin-left: 2%;
        > div.top {
          width: 100%;
          height: 185px;
        }
        > div.bot {
          width: 100%;
          height: 55px;
          display: flex;
          font-size: large;
          border-bottom: 1px solid rgba(0, 0, 0, 0.531);
          > p {
            width: max-content;
            height: max-content;
            margin-top: 11%;
            margin-right: 21%;
            color: grey;
          }
        }
      }

      > div.left {
        width: max-content;
        height: 240px;
        > div.top {
          width: 100%;
          height: 185px;
        }
        > div.bot {
          width: 100%;
          height: 55px;
          display: flex;
          font-size: large;
          border-bottom: 1px solid rgba(0, 0, 0, 0.531);
          > p {
            width: max-content;
            height: max-content;
            margin-top: 11%;
            margin-right: 21%;
            color: grey;
          }
        }
      }
    }
  }
  > div.golestan-rice-box {
    width: 100%;
    height: 560px;
    margin-top: 3%;
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(233, 214, 159);
    > div.img {
      width: 100%;
      height: 530px;
      > img {
        width: 100%;
        height: 530px;
      }
    }
    > div.title {
      width: 25%;
      height: 100px;
      position: absolute;
      margin-top: 34.3%;
      margin-right: 22%;
      display: flex;
      flex-flow: column wrap;
      background-color: red;
      > div.top {
        width: max-content;
        height: max-content;
        font-size: 37px;
        margin-top: 4%;
        margin-right: 10%;
        color: whitesmoke;
      }
      > div.bot {
        width: max-content;
        height: max-content;
        font-size: x-large;
        margin-top: 2%;
        margin-right: 10%;
        color: whitesmoke;
      }
    }
  }
  > div.iranian-food-box {
    width: 100%;
    height: 935px;
    margin-top: 1%;
    display: flex;
    flex-flow: column wrap;
    border-top: 1px solid rgb(129, 129, 129);
    border-bottom: 1px solid rgb(129, 129, 129);
    > div.title {
      width: max-content;
      height: max-content;
      margin-top: 2%;
      margin-right: 22%;
      font-size: x-large;
      color: red;
    }
    > div.about-iranian-food {
      width: 60%;
      height: 121px;
      margin-top: 1%;
      margin-right: 22%;
      > p {
        font-size: larger;
        color: grey;
        line-height: 30px;
      }
    }
    > div.buttons {
      width: 75%;
      height: max-content;
      margin-top: 1%;
      margin-right: 22%;
      display: flex;
      flex-flow: row wrap;
      > div.right-button {
        width: 15%;
        height: 45px;
        display: flex;
        border: 1px solid rgb(129, 129, 129);
        border-radius: 10px;
        > a {
          margin: 9% auto;
          font-size: large;
          color: grey;
          text-decoration: none;
          &:hover {
            color: whitesmoke;
          }
        }
        &:hover {
          background-color: crimson;
          transition: 200ms;
        }
      }
      > div.left-button {
        width: 15%;
        height: 45px;
        display: flex;
        border: 1px solid rgb(129, 129, 129);
        border-radius: 10px;
        margin-right: 1%;
        > a {
          margin: 9% auto;
          font-size: large;
          color: grey;
          text-decoration: none;
          &:hover {
            color: whitesmoke;
          }
        }
        &:hover {
          background-color: crimson;
          transition: 200ms;
        }
      }
    }
    > div.golestan-img-box {
      width: 100%;
      height: 560px;
      margin-top: 8%;
      display: flex;
      flex-flow: column wrap;
      background-color: rgb(233, 214, 159);
      > div.img {
        width: 100%;
        height: 530px;
        > img {
          width: 100%;
          height: 530px;
        }
      }
      > div.title {
        width: 25%;
        height: 100px;
        position: absolute;
        margin-top: 34.3%;
        margin-right: 22%;
        display: flex;
        flex-flow: column wrap;
        background-color: red;
        > div.top {
          width: max-content;
          height: max-content;
          font-size: 37px;
          margin-top: 4%;
          margin-right: 10%;
          color: whitesmoke;
        }
        > div.bot {
          width: max-content;
          height: max-content;
          font-size: x-large;
          margin-top: 2%;
          margin-right: 10%;
          color: whitesmoke;
        }
      }
    }
  }
  > div.golestan-history-box {
    width: 100%;
    height: 935px;
    display: flex;
    flex-flow: column wrap;
    border-bottom: 1px solid rgb(129, 129, 129);
    > div.title {
      width: max-content;
      height: max-content;
      margin-top: 3%;
      margin-right: 22%;
      font-size: x-large;
      color: red;
    }
    > div.about-history {
      width: 50%;
      height: max-content;
      margin-top: 1%;
      margin-right: 22%;
      > p {
        font-size: larger;
        color: grey;
        line-height: 30px;
      }
    }
    > div.additional-history {
      width: 50%;
      height: max-content;
      margin-top: 2%;
      margin-right: 22%;
      > p {
        font-size: larger;
        color: grey;
        line-height: 30px;
      }
    }
    > div.button {
      width: 15%;
      height: 45px;
      display: flex;
      margin-top: 30px;
      margin-right: 300px;
      border: 1px solid black;
      border-radius: 10px;
      > a {
        margin: 7% auto;
        font-size: large;
        color: grey;
        text-decoration: none;
        &:hover {
          color: whitesmoke;
        }
      }
      &:hover {
        background-color: crimson;
        transition: 200ms;
      }
    }
    > div.pistachio-img-box {
      width: 100%;
      height: 480px;
      margin-top: 5%;
      display: flex;
      flex-flow: column wrap;
      background-color: rgb(233, 214, 159);
      > div.img {
        width: 100%;
        height: 460px;
        background-color: blueviolet;
        > img {
          width: 100%;
          height: 460px;
          object-fit: cover;
        }
      }
      > div.title {
        width: 25%;
        height: 100px;
        position: absolute;
        margin-top: 28.3%;
        margin-right: 22%;
        display: flex;
        flex-flow: column wrap;
        background-color: red;
        > div.top {
          width: max-content;
          height: max-content;
          font-size: 37px;
          margin-top: 4%;
          margin-right: 10%;
          color: whitesmoke;
        }
        > div.bot {
          width: max-content;
          height: max-content;
          font-size: x-large;
          margin-top: 2%;
          margin-right: 10%;
          color: whitesmoke;
        }
      }
    }
  }
  > div.nuts-box {
    width: 100%;
    height: 411px;
    display: flex;
    flex-flow: column wrap;
    > div.title {
      width: max-content;
      height: max-content;
      color: red;
      margin-top: 50px;
      font-size: x-large;
      margin-right: 300px;
    }
    > div.about-nuts {
      width: 707px;
      height: 157px;
      margin-top: 15px;
      margin-right: 300px;
      > p {
        font-size: larger;
        color: grey;
        line-height: 40px;
      }
    }
    > div.button {
      width: 129px;
      height: 45px;
      display: flex;
      margin-top: 40px;
      margin-right: 300px;
      border: 1px solid black;
      border-radius: 10px;
      > a {
        margin: 11px auto;
        font-size: large;
        color: grey;
        text-decoration: none;
        &:hover {
          color: whitesmoke;
        }
      }
      &:hover {
        background-color: crimson;
        transition: 200ms;
      }
    }
  }
  > div.background-box {
    width: 100%;
    height: 252px;
    background-image: url(../img/background/bg.png);
    background-attachment: fixed;
    background-color: aqua;
  }
  > div.kitchen-box {
    width: 100%;
    height: 84px;
    display: flex;
    flex-flow: row wrap;
    > div.title {
      width: max-content;
      height: max-content;
      color: red;
      font-size: x-large;
      margin-top: 30px;
      margin-right: 120px;
    }
    > div.additional {
      width: max-content;
      height: max-content;
      margin-top: 30px;
      margin-right: 10px;
      > p {
        font-size: large;
        color: grey;
      }
    }
  }
  > div.food-with-g-box {
    width: 100%;
    height: 721px;
    background-color: rgb(233, 214, 159);
    display: flex;
    flex-flow: row wrap;
    > div.right {
      width: 322px;
      height: 561px;
      display: flex;
      flex-flow: column wrap;
      margin-top: 90px;
      margin-right: 170px;
      background-color: whitesmoke;
      > div.img {
        width: inherit;
        height: 291px;
        object-fit: cover;
        > img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
      > div.title {
        width: max-content;
        height: max-content;
        margin-top: 38px;
        margin-right: 33px;
        color: rgb(255, 23, 0);
        font-size: 25px;
      }
      > div.additional {
        width: 257px;
        height: max-content;
        margin-top: 10px;
        margin-right: 33px;
        line-height: 25px;
        > p {
          font-size: 17px;
          color: grey;
        }
      }
      > div.button {
        width: 112px;
        height: 41px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 33px;
        font-size: large;
        display: flex;
        > a {
          text-decoration: none;
          color: grey;
          margin: 11px auto;
          &:hover {
            color: whitesmoke;
          }
        }
        &:hover {
          background-color: crimson;
          transition: 200ms;
        }
      }
    }
    > div.middle {
      width: 322px;
      height: 561px;
      display: flex;
      flex-flow: column wrap;
      margin-top: 90px;
      margin-right: 12px;
      background-color: whitesmoke;
      > div.img {
        width: inherit;
        height: 291px;
        object-fit: cover;
        > img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
      > div.title {
        width: max-content;
        height: max-content;
        margin-top: 38px;
        margin-right: 33px;
        color: rgb(255, 23, 0);
        font-size: 25px;
      }
      > div.additional {
        width: 257px;
        height: max-content;
        margin-top: 10px;
        margin-right: 33px;
        line-height: 25px;
        > p {
          font-size: 17px;
          color: grey;
        }
      }
      > div.button {
        width: 112px;
        height: 41px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 33px;
        font-size: large;
        display: flex;
        > a {
          text-decoration: none;
          color: grey;
          margin: 11px auto;
          &:hover {
            color: whitesmoke;
          }
        }
        &:hover {
          background-color: crimson;
          transition: 200ms;
        }
      }
    }
    > div.left {
      width: 322px;
      height: 561px;
      display: flex;
      flex-flow: column wrap;
      margin-top: 90px;
      margin-right: 12px;
      background-color: whitesmoke;
      > div.img {
        width: inherit;
        height: 291px;
        object-fit: cover;
        > img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
      > div.title {
        width: max-content;
        height: max-content;
        margin-top: 38px;
        margin-right: 33px;
        color: rgb(255, 23, 0);
        font-size: 25px;
      }
      > div.additional {
        width: 257px;
        height: max-content;
        margin-top: 10px;
        margin-right: 33px;
        line-height: 25px;
        > p {
          font-size: 17px;
          color: grey;
        }
      }
      > div.button {
        width: 112px;
        height: 41px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 33px;
        font-size: large;
        display: flex;
        > a {
          text-decoration: none;
          color: grey;
          margin: 11px auto;
          &:hover {
            color: whitesmoke;
          }
        }
        &:hover {
          background-color: crimson;
          transition: 200ms;
        }
      }
    }
  }
}
footer {
  width: 100%;
  height: max-content;
  background-color: azure;
  > div.social-responsibility-box {
    width: 100%;
    height: 640px;
    background-color: rgb(233, 214, 159);
    display: flex;
    flex-flow: column wrap;
    > div.top {
      width: 100%;
      height: 291px;
      display: flex;
      align-items: end;
      background-color: rgb(16, 81, 83);
      border-bottom: 1px solid rgb(7, 120, 124);
      > p {
        width: max-content;
        height: max-content;
        font-size: larger;
        color: whitesmoke;
        margin-right: 560px;
        margin-bottom: 10px;
      }
    }
    > div.bottom {
      width: 100%;
      height: 329px;
      display: flex;
      flex-flow: column wrap;
      background-color: rgb(16, 81, 83);
      > div.title {
        width: max-content;
        height: max-content;
        display: flex;
        margin-right: 500px;
        flex-flow: row wrap;
        > span {
          font-size: xx-large;
          margin-top: 17px;
          color: rgb(0, 157, 162);
        }
        > p {
          font-size: x-large;
          margin-top: 26px;
          margin-left: 5px;
          color: rgb(0, 145, 223);
        }
      }
      > div.additional {
        width: max-content;
        height: max-content;
        margin-right: 620px;
        display: flex;
        font-size: large;
      }
      > div.img {
        width: 397px;
        height: 344px;
        display: flex;
        position: absolute;
        margin-top: 100px;
        margin-right: 465px;
        object-fit: cover;
        > img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
    }
  }
  > div.golestan-vaz-box {
    width: 100%;
    height: 470px;
    display: flex;
    flex-flow: column wrap;
    background-color: whitesmoke;
    > div.title {
      width: max-content;
      height: max-content;
      margin-top: 140px;
      margin-right: 300px;
      font-size: 24px;
      color: red;
    }
    > div.additional {
      width: 707px;
      height: max-content;
      margin-top: 10px;
      margin-right: 300px;
      > p {
        font-size: large;
        color: grey;
        line-height: 30px;
      }
    }
    > div.button {
      width: 112px;
      height: 41px;
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 20px;
      margin-right: 300px;
      font-size: large;
      display: flex;
      > a {
        text-decoration: none;
        color: grey;
        margin: 11px auto;
        &:hover {
          color: whitesmoke;
        }
      }
      &:hover {
        background-color: crimson;
        transition: 200ms;
      }
    }
  }
  > div.social-address-box {
    width: 100%;
    height: 100px;
    background-color: rgb(238, 239, 239);
    display: flex;
    flex-flow: row wrap;
    > div.circle-right {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 25px;
      margin-right: 480px;
      > a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        > img {
          width: 50px;
          height: 50px;
          color: aliceblue;
          object-fit: cover;
        }
      }
    }
    > div.circle-second-right {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 25px;
      margin-right: 20px;
      > a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        > img {
          width: 50px;
          height: 50px;
          color: aliceblue;
          object-fit: cover;
        }
      }
    }
    > div.circle-third-right {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 25px;
      margin-right: 20px;
      > a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        > img {
          width: 50px;
          height: 50px;
          color: aliceblue;
          object-fit: cover;
        }
      }
    }
    > div.circle-left {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 25px;
      margin-right: 20px;
      > a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        > img {
          width: 50px;
          height: 50px;
          color: aliceblue;
          object-fit: cover;
        }
      }
    }
    > div.circle-second-left {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 25px;
      margin-right: 20px;
      > a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        > img {
          width: 50px;
          height: 50px;
          color: aliceblue;
          object-fit: cover;
        }
      }
    }
    > div.circle-third-left {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 25px;
      margin-right: 20px;
      > a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        > img {
          width: 50px;
          height: 50px;
          color: aliceblue;
          object-fit: cover;
        }
      }
    }
  }
  > div.end-box {
    width: 100%;
    height: 525px;
    display: flex;
    flex-flow: column wrap;
    background-color: red;
    > div.golestan-pro-box {
      width: 100%;
      height: 500px;
      background-color: rgb(36, 36, 36);
      margin-top: 25px;
      display: flex;
      flex-flow: column wrap;
      > div.products {
        width: 100%;
        height: 291px;
        display: flex;
        flex-flow: row wrap;
        margin-top: 47px;
        > div.tea-box {
          width: 142px;
          height: 291px;
          margin-right: 319px;
          display: flex;
          flex-flow: column wrap;
          > img {
            width: 52px;
            height: 79px;
            object-fit: cover;
            margin-right: 38px;
          }
          > div.title {
            width: 142px;
            height: 37px;
            color: whitesmoke;
            margin-top: 5px;
            border-top: 1px solid rgb(113, 114, 115);
            border-bottom: 1px solid rgb(113, 114, 115);
            > p {
              font-size: large;
              margin-top: 10px;
              margin-right: 32px;
            }
          }
          div.additional {
            width: 142px;
            height: 168px;
            display: flex;
            flex-flow: column wrap;
            > a {
              width: max-content;
              height: max-content;
              text-decoration: none;
              color: grey;
              font-size: large;
              margin-top: 10px;
            }
          }
        }
        > div.tea-bag-box {
          width: 142px;
          height: 291px;
          margin-right: 35px;
          display: flex;
          flex-flow: column wrap;
          > img {
            width: 52px;
            height: 79px;
            object-fit: cover;
            margin-right: 38px;
          }
          > div.title {
            width: 142px;
            height: 37px;
            color: whitesmoke;
            margin-top: 5px;
            border-top: 1px solid rgb(113, 114, 115);
            border-bottom: 1px solid rgb(113, 114, 115);
            > p {
              font-size: large;
              margin-top: 10px;
              margin-right: 32px;
            }
          }
          div.additional {
            width: 142px;
            height: 168px;
            display: flex;
            flex-flow: column wrap;
            > a {
              width: max-content;
              height: max-content;
              text-decoration: none;
              color: grey;
              font-size: large;
              margin-top: 10px;
            }
          }
        }
        > div.spice-box {
          width: 142px;
          height: 291px;
          margin-right: 35px;
          display: flex;
          flex-flow: column wrap;
          > img {
            width: 52px;
            height: 79px;
            object-fit: cover;
            margin-right: 38px;
          }
          > div.title {
            width: 142px;
            height: 37px;
            color: whitesmoke;
            margin-top: 5px;
            border-top: 1px solid rgb(113, 114, 115);
            border-bottom: 1px solid rgb(113, 114, 115);
            > p {
              font-size: large;
              margin-top: 10px;
              margin-right: 32px;
            }
          }
          div.additional {
            width: 142px;
            height: 168px;
            display: flex;
            flex-flow: column wrap;
            > a {
              width: max-content;
              height: max-content;
              text-decoration: none;
              color: grey;
              font-size: large;
              margin-top: 10px;
            }
          }
        }
        > div.beans-box {
          width: 142px;
          height: 291px;
          margin-right: 35px;
          display: flex;
          flex-flow: column wrap;
          > img {
            width: 52px;
            height: 79px;
            object-fit: cover;
            margin-right: 38px;
          }
          > div.title {
            width: 142px;
            height: 37px;
            color: whitesmoke;
            margin-top: 5px;
            border-top: 1px solid rgb(113, 114, 115);
            border-bottom: 1px solid rgb(113, 114, 115);
            > p {
              font-size: large;
              margin-top: 10px;
              margin-right: 32px;
            }
          }
          div.additional {
            width: 142px;
            height: 168px;
            display: flex;
            flex-flow: column wrap;
            > a {
              width: max-content;
              height: max-content;
              text-decoration: none;
              color: grey;
              font-size: large;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
